{{- /*gotype: heckel.io/pcopy/server.webTemplateConfig*/ -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{.Config.ClipboardName | htmlEscape}} | Temporary file host, nopaste and clipboard across machines</title>
    <link rel="stylesheet" href="static/css/app.css" type="text/css">

    <!-- Mobile view -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <!-- Mobile browsers, background color -->
    <meta name="theme-color" content="#004c79">
    <meta name="msapplication-navbutton-color" content="#004c79">
    <meta name="apple-mobile-web-app-status-bar-style" content="#004c79">

    <!-- Favicon, see favicon.io -->
    <link rel="icon" type="image/png" href="static/img/favicon.png">

    <!-- Previews in Google, Slack, WhatsApp, etc. -->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="{{.Config.ClipboardName | htmlEscape}}" />
    <meta property="og:title" content="{{.Config.ClipboardName | htmlEscape}} | Temporary file host, nopaste and clipboard across machines" />
    <meta property="og:description" content="This is a pcopy clipboard. You can use it to upload text snippets or files and share them via a link. It has a simple Web UI, a CLI and a pretty neat curl endpoint. Made with ❤ by Philipp C. Heckel, Apache License 2.0, source at https://heckel.io/pcopy." />
    <meta property="og:image" content="/static/img/pcopy.gif" />
    <meta property="og:url" content="{{.Config.ServerAddr | expandServerAddr}}" />
</head>
<body>

<div id="login-area" class="container hidden">
    <div class="section fit">
        <div class="t">
            <div class="tc">
                <div id="login-box">
                    <h1>pcopy</h1>
                    <p>
                        <a href="https://heckel.io/pcopy">pcopy</a> is a shared clipboard that lets you share text snippets and files across computers.<br/>
                        <em>This clipboard is password-protected. Please log-in to upload files.</em>
                    </p>
                    <form id="login-form">
                        <input type="password" id="password" class="textfield"/>
                        <input type="submit" id="login" value="Login" class="button">
                    </form>
                    <p><br/><span id="password-status" class="invisible">Incorrect password. Please try again.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="drop-area" class="container">
    <div class="section fit">
        <div class="t">
            <div class="tc">
                Drop file anywhere to upload
            </div>
        </div>
    </div>
</div>

<div id="main-area" class="hidden">
    <div id="header-area">
        <div id="header-flex-box">
            <div class="col-auto col-first">
                <a href="https://heckel.io/pcopy"><h1>{{.Config.ClipboardName | htmlEscape}}</h1></a>
            </div>
            <div class="col-auto">
                <label for="file-id">File name:</label>
                <input id="file-id" type="text" class="textfield" placeholder="(randomly chosen)"/>
            </div>
            <div class="col-auto" title="Choose a random file name after uploading the file.">
                <input id="random-file-id" type="checkbox" checked/>
                <label for="random-file-id">Random name</label>
            </div>
            <div class="col-auto" title="Pipe file content through the server without permanently storing it. This is useful for streaming files or if they only ever have to be downloaded once.">
                <div class="divider"></div>
                <input id="stream" type="checkbox"/>
                <label for="stream">Stream</label>
            </div>
            <div class="col-auto" title="Don't upload or save anything to the server. The file contents will be encoded entirely in the URL. Links cannot be deleted and will never expire.">
                <div class="divider"></div>
                <input id="client-side" type="checkbox"/>
                <label for="client-side">Client side</label>
            </div>
            <div class="col-auto" title="Pick a time after which the file will be permanently deleted from the server.">
                <div class="divider"></div>
                <label for="ttl">Expires: {{if lt .Config.FileExpireAfterDefault.Seconds 600.0}} {{.Config.FileExpireAfterDefault | durationToHuman}}{{end}}</label>
                <select id="ttl" class="button">
                    <option value="600">10 min</option>
                    <option value="1800">30 min</option>
                    <option value="3600">1 hour</option>
                    <option value="10800">3 hours</option>
                    <option value="21600">6 hours</option>
                    <option value="86400">1 day</option>
                    <option value="259200">3 days</option>
                    <option value="604800">1 week</option>
                    <option value="1814400">3 weeks</option>
                    <option value="5184000">2 months</option>
                    <option value="15552000">6 months</option>
                    <option value="31536000">1 year</option>
                    <option value="63072000">2 years</option>
                    <option value="0">never</option>
                </select>
            </div>
            <div class="col"></div>
            <div class="col-auto col-last">
                <button id="info-button" class="button">What is this?</button>
                <button id="save-button" class="button">Save</button>
                <button id="upload-button" class="button">Upload</button>
                <button id="logout-button" class="button hidden">Logout</button>
                <input type="file" id="file-upload" class="hidden" onchange="handleFile(this.files[0])">
            </div>
        </div>
    </div>
    <div id="text-area">
        <textarea id="text" wrap="off" spellcheck="false" placeholder="Paste text or drag & drop a file"></textarea>
    </div>
</div>

<div id="info-area" class="container hidden">
    <div class="section fit">
        <div class="t">
            <div class="tc">
                <div id="info-box">
                    <a id="info-close-button" href=""><svg width="20" height="20" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 96 96" enable-background="new 0 0 96 96" xml:space="preserve"><polygon fill="#AAAAAB" points="96,14 82,0 48,34 14,0 0,14 34,48 0,82 14,96 48,62 82,96 96,82 62,48 "/></svg></a>
                    <div id="info-help-header" class="info-header info-what-is-this">
                        <h2>What is {{.Config.ClipboardName | htmlEscape}}?</h2>
                        <p>
                            {{.Config.ClipboardName | htmlEscape}} is a temporary file host, nopaste and clipboard across machines. It is based on the open source software
                            <a href="https://github.com/binwiederhier/pcopy">pcopy</a>.
                        </p>
                        <h2>Usage</h2>
                        <p>
                            You can use this clipboard from this web UI, <a href="{{.Config.ServerAddr | expandServerAddr}}/curl">via curl</a> (type <tt>curl {{.Config.ServerAddr}}</tt>), or
                            using the <tt>pcopy</tt> CLI (<a href="https://github.com/binwiederhier/pcopy#installation">install instructions</a>):
                        </p>
                        <div class="code-area">
                            <input id="info-command-join" class="code-box" readonly />
                            <button id="info-command-join-copy" class="tooltip">
                                <span id="info-command-join-tooltip" class="tooltiptext">Copy to clipboard</span>
                                <svg fill="#fff" aria-hidden="true" role="img" viewBox="0 0 14 16" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M2 12h4v1H2v-1z m5-6H2v1h5v-1z m2 3V7L6 10l3 3V11h5V9H9z m-4.5-1H2v1h2.5v-1zM2 11h2.5v-1H2v1z m9 1h1v2c-0.02 0.28-0.11 0.52-0.3 0.7s-0.42 0.28-0.7 0.3H1c-0.55 0-1-0.45-1-1V3c0-0.55 0.45-1 1-1h3C4 0.89 4.89 0 6 0s2 0.89 2 2h3c0.55 0 1 0.45 1 1v5h-1V5H1v9h10V12zM2 4h8c0-0.55-0.45-1-1-1h-1c-0.55 0-1-0.45-1-1s-0.45-1-1-1-1 0.45-1 1-0.45 1-1 1h-1c-0.55 0-1 0.45-1 1z"></path></svg>
                                Copy
                            </button>
                        </div>
                        <h2>Clipboard limits</h2>
                        <p>
                            <b>Total clipboard size limit:</b> <em>{{if .Config.ClipboardSizeLimit}}{{.Config.ClipboardSizeLimit | bytesToHuman }}{{else}}no limit{{end}}</em><br/>
                            <b>Total number of files:</b> <em>{{if .Config.ClipboardCountLimit}} max. {{.Config.ClipboardCountLimit }} files{{else}}no limit{{end}}</em><br/>
                            <b>Per-file size limit:</b> <em>{{if .Config.FileSizeLimit}}{{.Config.FileSizeLimit | bytesToHuman }}{{else}}no limit{{end}}</em><br/>
                            <b>Per-file expiration limits:</b> <em>{{if .Config.FileExpireAfterTextMax}}{{.Config.FileExpireAfterTextMax | durationToHuman }}{{else}}never{{end}} if text, {{if .Config.FileExpireAfterNonTextMax}}{{.Config.FileExpireAfterNonTextMax | durationToHuman }}{{else}}never{{end}} otherwise</em>
                        </p>
                    </div>
                    <div id="info-upload-header-active" class="info-header">
                        <h1 id="info-upload-title-active">Uploading ...</h1>
                        <p>
                            Your file is being uploaded. Depending on the file size, this may take a while.
                            Please be patient. As long as it's moving along, things are fine.
                        </p>
                    </div>
                    <div id="info-upload-header-finished" class="info-header">
                        <h1>Your clipboard entry has been copied.</h1>
                        <p>
                            You may now use <tt>pcopy</tt> or <tt>curl</tt> to download it, or simply share
                            the <a href="" id="info-direct-link-download">direct link</a>.
                            <span id="info-expire-never">The file will <b>never expire</b>.</span>
                            <span id="info-expire-sometime">The file will expire in <b id="info-expire-ttl"></b> at <span id="info-expire-date"></span>.</span>
                        </p>
                    </div>
                    <div id="info-clientside-header-active" class="info-header">
                        <h1 id="info-clientside-title-active">Compressing ...</h1>
                        <p>
                            Your file is being compressed. Depending on the file size, this may take a while.
                            Please be patient. As long as it's moving along, things are fine.
                        </p>
                    </div>
                    <div id="info-clientside-header-finished" class="info-header">
                        <h1>Your clipboard entry has been saved.</h1>
                        <p>
                            You may now share or copy the <a href="" id="info-clientside-direct-link">direct link</a>.
                            The file is encoded in the link and not stored server-side. It <b>cannot be deleted</b> and it will <b>never expire</b>.
                        </p>
                    </div>
                    <div id="info-stream-header-active" class="info-header">
                        <h1 id="info-stream-title-active"></h1>
                        <p>
                            <b>Your upload will hold until you start the download.</b> You may now use <tt>pcopy</tt> or
                            <tt>curl</tt> to download it on any connected computer, or simply share it via the
                            <a href="" id="info-direct-link-stream">direct link</a>.
                        </p>
                    </div>
                    <div id="info-stream-header-finished" class="info-header">
                        <h1>Your stream has been downloaded.</h1>
                        <p>
                            The stream has been downloaded by a client. Each stream can only be consumed once.
                            You may start a new stream by dragging a new file here or by saving text from the textbox.
                        </p>
                    </div>
                    <div id="info-stream-header-interrupted" class="info-header">
                        <h1>Your stream was interrupted.</h1>
                        <p>
                            We received error code <b>HTTP 206</b> (partial content) from the server, which means that
                            the client <b>interrupted the stream</b>. If this is not expected, please repeat the stream.
                        </p>
                    </div>
                    <div id="info-error-header" class="info-header">
                        <h1>Something went wrong.</h1>
                        <p>
                            An error occurred when trying to upload your file. The server responded with
                            <b>HTTP <span id="info-error-code"></span></b>.
                        </p>
                        <div id="info-error-text-limit-reached">
                            <p>
                                The server returns this error typically only if you are <b>trying to upload a file
                                that is too large</b> or there have been uploaded <b>too many files</b> already.
                                Make sure that there are no server-side limits in place.
                            </p>
                            <p>
                                <b>Total clipboard size limit:</b> {{if .Config.ClipboardSizeLimit}}{{.Config.ClipboardSizeLimit | bytesToHuman }}{{else}}<em>no limit</em>{{end}}<br/>
                                <b>Total number of files:</b> {{if .Config.ClipboardCountLimit}} max. {{.Config.ClipboardCountLimit }} files{{else}}<em>no limit</em>{{end}}<br/>
                                <b>Per-file size limit:</b> {{if .Config.FileSizeLimit}}{{.Config.FileSizeLimit | bytesToHuman }}{{else}}<em>no limit</em>{{end}}
                            </p>
                        </div>
                        <div id="info-error-text-not-allowed">
                            <p>
                                The server returns this error typically only if you are <b>trying to overwrite a read-only
                                existing file</b>. You may want to pick a different name, or check the "random name" checkbox.
                            </p>
                        </div>
                    </div>
                    <div id="info-links">
                        <div>
                            <p>Direct link:</p>
                            <div id="info-tabgroup-view-download">
                                <a id="info-tab-link-view" href="" class="tab tab-active tab-left">view</a>
                                <a id="info-tab-link-download" href="" class="tab tab-right">download</a>
                            </div>
                            <div class="code-area">
                                <input id="info-command-link" class="code-box code-box-with-tabs" readonly />
                                <button id="info-command-link-copy" class="tooltip">
                                    <span id="info-command-link-tooltip" class="tooltiptext">Copy to clipboard</span>
                                    <svg fill="#fff" aria-hidden="true" role="img" viewBox="0 0 14 16" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M2 12h4v1H2v-1z m5-6H2v1h5v-1z m2 3V7L6 10l3 3V11h5V9H9z m-4.5-1H2v1h2.5v-1zM2 11h2.5v-1H2v1z m9 1h1v2c-0.02 0.28-0.11 0.52-0.3 0.7s-0.42 0.28-0.7 0.3H1c-0.55 0-1-0.45-1-1V3c0-0.55 0.45-1 1-1h3C4 0.89 4.89 0 6 0s2 0.89 2 2h3c0.55 0 1 0.45 1 1v5h-1V5H1v9h10V12zM2 4h8c0-0.55-0.45-1-1-1h-1c-0.55 0-1-0.45-1-1s-0.45-1-1-1-1 0.45-1 1-0.45 1-1 1h-1c-0.55 0-1 0.45-1 1z"></path></svg>
                                    Copy
                                </button>
                            </div>
                        </div>
                        <div id="info-command-line-container">
                            <p>Paste to command line:</p>
                            <div>
                                <a id="info-tab-link-pcopy" href="" class="tab tab-active tab-left">pcopy</a>
                                <a id="info-tab-link-curl" href="" class="tab tab-right">curl</a>
                            </div>
                            <div class="code-area">
                                <input id="info-command-line" class="code-box code-box-with-tabs" readonly />
                                <button id="info-command-line-copy" class="tooltip">
                                    <span id="info-command-line-tooltip" class="tooltiptext">Copy to clipboard</span>
                                    <svg fill="#fff" aria-hidden="true" role="img" viewBox="0 0 14 16" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M2 12h4v1H2v-1z m5-6H2v1h5v-1z m2 3V7L6 10l3 3V11h5V9H9z m-4.5-1H2v1h2.5v-1zM2 11h2.5v-1H2v1z m9 1h1v2c-0.02 0.28-0.11 0.52-0.3 0.7s-0.42 0.28-0.7 0.3H1c-0.55 0-1-0.45-1-1V3c0-0.55 0.45-1 1-1h3C4 0.89 4.89 0 6 0s2 0.89 2 2h3c0.55 0 1 0.45 1 1v5h-1V5H1v9h10V12zM2 4h8c0-0.55-0.45-1-1-1h-1c-0.55 0-1-0.45-1-1s-0.45-1-1-1-1 0.45-1 1-0.45 1-1 1h-1c-0.55 0-1 0.45-1 1z"></path></svg>
                                    Copy
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let config = {
        DefaultID: "{{.Config.DefaultID}}",
        KeySalt: "{{if .Config.Key}}{{.Config.Key.Salt | encodeBase64}}{{end}}",
        KeyDerivIter: {{.KeyDerivIter}},
        KeyLenBytes: {{.KeyLenBytes}},
        DefaultPort: {{.DefaultPort}},
        FileSizeLimit: {{.Config.FileSizeLimit}},
        FileExpireAfterDefault: {{.Config.FileExpireAfterDefault.Seconds}},
        FileExpireAfterTextMax: {{.Config.FileExpireAfterTextMax.Seconds}},
        FileExpireAfterNonTextMax: {{.Config.FileExpireAfterNonTextMax.Seconds}}
    }
</script>
<script src="static/vendor/crypto-js.min.js"></script>
<script src="static/vendor/lzma.js"></script>
<script src="static/js/app.js"></script>

</body>
</html>
