/* general styling */

html, body {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #444;
}

a {
    color: #369;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    font-size: 1.1em;
}

.textfield {
    padding: 7px;
    border-radius: 3px;
    background: #dcfcfc;
    border: 1px solid #034c49;
}

.textfield:focus {
    background: #e8ffff;
}

.button {
    display: inline-block;
    padding: 7px;
    background: #04756f;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    border: 1px solid #034c49;
}

.button:hover {
    background: #07ada2;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

/* centering, see https://jsfiddle.net/v74fh3wy/ */

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    overflow: auto;
}

.section {
    position: relative;
    width: 100%;
}

.fit {
    height: 100%;
}

.t {
    display: table;
    width: 100%;
    height: 100%;
}

.tc {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* login area */

#login-area p {

}

/* drag & drop area, see https://jsfiddle.net/oL2akhtz/ */

#drop-area-new {
    background: #04756f;
    color: white;
    font-size: 2em;
    z-index: 999;
    opacity: 0.6;
}

#drop-area.highlight {
    border-color: purple;
}


/* main area */

#main-area {
    max-width: 800px;
    margin: 50px auto;
    font-size: 1.1em;
    text-align: center;
}

#text-area {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 280px;
    height: 200px;
    margin: 50px 20px 10px 20px;
    padding: 20px;
    float: left;
}

#text {
    width: 100%;
    height: fit-content;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 5px;
    width: 280px;
    margin: 50px 20px 10px 20px;
    padding: 20px;
    float: left;
}

.my-form {
    margin-bottom: 10px;
}

#fileElem {
    display: none;
}