{{- /*gotype: heckel.io/pcopy.Config*/ -}}
# pcopy config file

# Hostname and port of the pcopy server
#
# For servers: This address is advertised to clients. It is not strictly necessary for normal copy/paste operations, 
# but required for the easy-install process via 'pcopy invite'. If PORT is not defined, the default port 2586 is used.
# 
# Format:    HOST[:PORT]
# Default:   None
#
{{if .ServerAddr}}ServerAddr {{.ServerAddr}}{{else}}# ServerAddr{{end}}

# Address and port to use to bind the server. To bind to all addresses, you may omit the address,
# e.g. :2586.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  [ADDR]:PORT
# Default: :2586
#
{{if .ListenAddr}}ListenAddr {{.ListenAddr}}{{else}}# ListenAddr :2586{{end}}

# If a key is defined, clients need to auth whenever they want copy/paste values
# to the clipboard. A key is derived from a password and can be generated using
# the 'pcopy keygen' command.
#
# Format:  SALT:KEY (both base64 encoded)
# Default: None
#
{{if .Key}}Key {{encodeKey .Key}}{{else}}# Key{{end}}

# Path to the TLS certificate used for the HTTPS traffic. If not set, the config file path (with
# a .crt extension) is assumed to be the path to the certificate, e.g. server.crt (if the config
# file is server.conf).
#
# For servers: This certificate is served to clients.
# For clients: If a certificate is present, it is used as the only allowed certificate to communicate
#              with a server (cert pinning).
#
# Format:  /some/path/to/server.crt (PEM formatted)
# Default: Config path, but with .crt extension
#
{{if .CertFile}}CertFile {{.CertFile}}{{else}}# CertFile{{end}}

# Path to the private key for the matching certificate. If not set, the config file path (with
# a .key extension) is assumed to be the path to the private key, e.g. server.key (if the config
# file is server.conf).
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  /some/path/to/server.key (PEM formatted)
# Default: Config path, but with .key extension
#
{{if .KeyFile}}KeyFile {{.KeyFile}}{{else}}# KeyFile{{end}}

# Path to the directory in which the clipboard resides. If not set, this defaults to
# the path /var/cache/pcopy.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  /some/folder
# Default: /var/cache/pcopy
#
{{if .ClipboardDir}}ClipboardDir {{.ClipboardDir}}{{else}}# ClipboardDir /var/cache/pcopy{{end}}

# Maximum total size of the entire clipboard (sum of all files). Zero disables this setting.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  <number>(GMKB)
# Default: 0 (disabled)
#
{{if .ClipboardSizeLimit}}ClipboardSizeLimit {{.ClipboardSizeLimit}}{{else}}# ClipboardSizeLimit 0{{end}}

# Maximum number of clipboard files. Zero disables this setting.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  <number>
# Default: 0 (disabled)
#
{{if .ClipboardCountLimit}}ClipboardCountLimit {{.ClipboardCountLimit}}{{else}}# ClipboardCountLimit 0{{end}}

# Maximum size per uploaded clipboard file. Zero disables a max file size.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  <number>(GMKB)
# Default: 0 (disabled)
#
{{if .FileSizeLimit}}FileSizeLimit {{.FileSizeLimit}}{{else}}# FileSizeLimit 0{{end}}

# Duration after which clipboard contents will be deleted unless they are updated before.
# To disable, set to 0.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  <number>(dhms)
# Default: 7d
#
{{if .FileExpireAfter}}FileExpireAfter {{.FileExpireAfter}}{{else}}# FileExpireAfter 7d{{end}}

# If set to true, a simple web UI is served that allows uploading files and text snippets.
#
# This is a server-only option (pcopy serve). It has no effect for client commands.
#
# Format:  Boolean (true/false)
# Default: true
#
{{if .WebUI}}# WebUI true{{else}}WebUI false{{end}}
