{{- /*gotype: heckel.io/pcopy.Config*/ -}}
#!/bin/sh
set -eu
{{if .ServerAddr}}
if [ ! -f /usr/bin/pcopy ]; then
    [ $(id -u) -eq 0 ] || { echo 'Must be root to install'; exit 1; }
    curl -sk https://{{.ServerAddr | expandServerAddr}}/download > /usr/bin/pcopy
    chmod +x /usr/bin/pcopy
    [ -f /usr/bin/pcp ] || ln -s /usr/bin/pcopy /usr/bin/pcp
    [ -f /usr/bin/ppaste ] || ln -s /usr/bin/pcopy /usr/bin/ppaste
    echo "Successfully installed /usr/bin/pcopy."
fi
echo "To join this clipboard, run 'pcopy join {{.ServerAddr}}', or type 'pcopy -help' for more help'.
{{else}}
echo "Server not configured to allow simple install."
echo "If you are the administrator, set ServerAddr in config."
{{end}}