{{- /*gotype: heckel.io/pcopy.Config*/ -}}
#!/bin/sh
set -eu
{{if .ServerAddr}}
if [ ! -f /usr/bin/pcopy ]; then
  echo "pcopy is not installed. Please go to https://heckel.io/pcopy for install instructions."
else
  PCOPY_KEY={{.Key | encodeKey}} /usr/bin/pcopy join -auto {{.ServerAddr | expandServerAddr}}
fi
{{else}}
echo "Server not configured to allow simple install."
echo "If you are the administrator, set ServerAddr in config."
{{end}}
