{{- /*gotype: heckel.io/pcopy.webTemplateConfig*/ -}}
{{- $url := .Config.ServerAddr | expandServerAddr -}}
NAME
  pcopy - copy/paste across machines

USAGE:
  curl [-T FILE] [-d DATA] [-u:PASS] {{$url}}[/FILENAME][?s=1][&f=text|json]

DESCRIPTION:
  This is is the curl-endpoint for pcopy, a tool to copy/paste across machines. You may use
  curl's -T option to PUT files, or -d option to POST data. If a FILENAME is passed, it will
  be used. If not, a random one will be picked.

  To stream data without storing it on the server, you may pass the ?s=1 query parameter.
  The upload will then block until the download of the file begins. Sadly, streams do not
  support random file names, so you must pass FILENAME in this case.

  If this clipboard is password-protected, you must pass the password PASS using the -u
  option as -u:PASS. To avoid passing the password, you may use -ux and curl will ask for
  the password.

  Examples:
    curl -T hi.txt {{$url}}                   # Copy file hi.txt and pick a random file name
    curl -d "a thing" {{$url}}/thing.txt      # Copy text "a thing" to "thing.txt"
    cat go.log | curl -T- {{$url}}/go.log     # Copy text from STDIN to "go.log"
    curl -u:mypass -d hi {{$url}}             # Uses password "mypass" to copy text "hi"
    cat a.log | curl -T- "{{$url}}/cool?s=1"  # Stream to "cool", blocks until download begins

OPTIONS:
  Query params:
    ?s=1          stream data without storing on the server
    ?f=text|json  output format for PUT/POSTs (default: text)

  Common curl options (see 'man curl' for more):
    -T FILE       uploads file FILE to the server
    -d DATA       uploads DATA to the server
    -u :PASS      use password PASS for basic auth against server
{{ if .Config.WebUI}}
WEB UI:
  {{$url}}
{{end}}
To find out more about pcopy, check out https://heckel.io/pcopy.
