<!DOCTYPE html>
<html id="root" lang="en">
<head>
    <meta charset="UTF-8">
    <title>pcopy</title>
    <link type="text/css" rel="stylesheet" href="static/css/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>

<div id="login-area" class="container hidden">
    <div class="section fit">
        <div class="t">
            <div class="tc">
                <img src="static/img/logo.png" width="150" />
                <h1>pcopy</h1>
                <p>
                    pcopy is a shared clipboard that lets you share text snippets and files across computers.<br/>
                    <em>This clipboard is password-protected. Please log-in to upload files.</em>
                </p>
                <form id="login-form">
                    <input type="password" id="password" class="textfield"/>
                    <input type="submit" id="login" value="Login" class="button">
                </form>
                <p><br/>&nbsp;<span id="password-status" class="hidden">Incorrect password</span></p>
            </div>
        </div>
    </div>
</div>

<div id="drop-area" class="container">
    <div class="section fit">
        <div class="t">
            <div class="tc">
                Drop file anywhere to upload
            </div>
        </div>
    </div>
</div>

<div id="main-area" class="hidden">
    <img src="static/img/logo.png" width="150" />
    <h1>pcopy</h1>
    <p>pcopy is a shared clipboard that lets you share text snippets and files across computers.</p>
    <p>
        File ID:
        <input type="text" id="id" placeholder="default"/>
    </p>

    <form class="my-form">
        <input type="file" id="fileElem" onchange="handleFile(this.files[0])">
        <label class="button" for="fileElem">Upload File</label>
        <progress id="progress-bar" max=100 value=0></progress>
    </form>

    <div id="text-area">
        <textarea id="text"></textarea>
        <label class="button" for="text">Upload</label>
    </div>
</div>

<script>
    {{/*gotype: heckel.io/pcopy.webConfig*/}}
    let config = {
        salt: "{{.Salt}}",
        iterations: {{.PbkdfIter}},
        keySize: {{.KeyLen}}
    }
</script>
<script src="static/vendor/cryptojs/crypto-js.min.js"></script>
<script src="static/js/app.js"></script>

</body>
</html>
